[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "common/array-macros"]
	path = common/array-macros
	url = https://github.com/thomashodgkinson1987/array-macros.git
[submodule "common/queue-macros"]
	path = common/queue-macros
	url = https://github.com/thomashodgkinson1987/queue-macros.git
